.Pageitem{
    .absolute;
    margin: auto;
    top:12vh;
}

#container #contentConstrain .bottomConstrain{
  position: relative;
  height: 100%;
  max-width: 100%;
  max-height: 60vh;
  margin:auto;
  h2{
    line-height: 1vh;
  }
  .slideImageHolder{
    max-width: 100%;
    position:relative;
    bottom:0;
    margin:auto;
    a{
      display: block;
      overflow-y: auto;
      -webkit-overflow-scrolling: touch;
      z-index: 0;
      max-height: 50vh;
    }
    img{
      display: block;
      margin:auto;
      max-width:95%;
      height: auto;
      max-height:100%;
      .transition(.3s ease all);
      &:hover{
      }
    }
  }
  .slideContent{
    p{
      margin-top:1rem;
      font-size:1.9rem;
      line-height: 1.6rem;
      padding: .3rem;
      color:rgba(255,255,255, .8);
      text-shadow: -1px -1px 1px #555;
      a{
        text-shadow: -1px -0px 1px #222;
      }
    }
  }
}

.effect7{
    position:relative;
    .box-shadow("0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset");

    &:before, &:after{
      content:"";
      position:absolute;
      z-index:-1;
      .box-shadow(0 0 20px rgba(0,0,0,0.8));
      top:0;
      bottom:0;
      left:10px;
      right:10px;
      .border-radius(100px / 10px);
    }

    &:after{
      right:10px;
      left:auto;
      .transform(skew(8deg) rotate(3deg));
    }
}

@media all and (orientation:portrait) {

  #freelancerBar {
    margin-top:5vh;
  }

  // .Pageitem{
  //   top:9vh;
  // }


@media all and (orientation:landscape) {

  .Pageitem{
    top:12vh;
  }
}

@media only screen and (-moz-min-device-pixel-ratio: 2),
       only screen and (-o-min-device-pixel-ratio: 2/1),
       only screen and (-webkit-min-device-pixel-ratio: 2),
       only screen and (min-device-pixel-ratio: 2) {

  #container #contentConstrain .bottomConstrain{
    .slideContent{
      p{
        font-size:120%;
        line-height: 2.2rem;
      }
    }
  }
}

@media all and (orientation:portrait) {
  #mainNav{
    ul{
      li{
        a{
          font-size:1.1rem;
        }
      }
    }
  }
}

@media all and (orientation:landscape) {
}

}