<template name="about">
<div class="Pageitem" id="about">
<section class="mainHeader">
<img src="/images/Vectors/Contact.svg" onerror="this.src='/images/Vectors/Contact.png'" alt="Contact Details" id="contactHeader">
  <!-- <h1 id="contactHeader">Contact</h1> -->
</section>
<section class="contentArea">
  <aside class="sideBar leftBar">
    <section class="">
      <ul class="widgetHorizontal blocks-3 blocks-mobile-33">
          <li><a href="tel://+6592320417" class="iconCard" id="mobile" target="_blank" rel="nofollow">
          <div class="outside"><div class="inside"><i class="fa fa-phone"></i></div></div>
          </a></li>
          <li><a href="mailto://jjnathanjr+weblink@gmail.com" class="iconCard" id="email" target="_blank" rel="nofollow">
          <div class="outside"><div class="inside"><i class="fa fa-envelope"></i></div></div>
          </a></li>
          <li><a href="skype:jason.nathan?call" class="iconCard" id="skype" target="_blank" rel="nofollow">
            <div class="outside"><div class="inside"><i class="fa fa-skype"></i></div></div>
          </a></li>
      </ul>
      <ul class="widgetHorizontal blocks-3 blocks-mobile-33">
          <li><a href="http://www.facebook.com/jason.nathan" class="iconCard" id="facebook" target="_blank" rel="nofollow">
            <div class="outside"><div class="inside"><i class="fa fa-facebook"></i></div></div>
          </a></li>
          <li><a href="http://www.twitter.com/jason_nathan" class="iconCard" id="twitter" target="_blank" rel="nofollow">
          <div class="outside"><div class="inside"><i class="fa fa-twitter"></i></div></div>
          </a></li>
          <li><a href="http://sg.linkedin.com/in/jasonnathan/" class="iconCard" id="linkedin" target="_blank" rel="nofollow">
          <div class="outside"><div class="inside"><i class="fa fa-linkedin"></i></div></div>
          </a></li>
      </ul>
    </section>
  </aside>
  <section class="mainContent" id="aboutContentArea">
  </section>
  <aside class="sideBar rightBar">

    <section class="">
      <ul class="widgetHorizontal blocks-3 blocks-mobile-33">
        <li><a href="http://jasonnathan.github.io" class="iconCard" id="github" target="_blank" rel="nofollow">
        <div class="outside"><div class="inside"><i class="fa fa-github-alt"></i></div></div>
        </a></li>
        <li><a href="http://stackoverflow.com/users/382536/jason-nathan" class="iconCard" id="stackoverflow" target="_blank" rel="nofollow">
        <div class="outside"><div class="inside"><i class="fa fa-stack-overflow"></i></div></div>
        </a></li>
        <li><a href="https://www.google.com/+JasonNathan" class="iconCard" id="googleplus" target="_blank" rel="nofollow">
        <div class="outside"><div class="inside"><i class="fa fa-google-plus"></i></div></div>
        </a></li>
      </ul>
      <ul class="widgetHorizontal blocks-3 blocks-mobile-33">
          <li><a href="https://bitbucket.org/jasonnathan" class="iconCard" id="bitbucket" target="_blank" rel="nofollow">
            <div class="outside"><div class="inside"><i class="fa fa-bitbucket"></i></div></div>
          </a></li>
          <li><a href="http://www.scriptstreet.com" class="iconCard" id="wordpress" target="_blank" rel="nofollow">
          <div class="outside"><div class="inside"><i class="fa fa-wordpress"></i></div></div>
          </a></li>
          <li><a href="https://profile.live.com/cid-fe68f955c68c7498/" class="iconCard" id="windows" target="_blank" rel="nofollow">
          <div class="outside"><div class="inside"><i class="fa fa-windows"></i></div></div>
          </a></li>
      </ul>
    </section>
  </aside>
    <section class="Person" itemscope itemtype="http://schema.org/Person">
       <p style="display:inline-block">
       <img itemprop="image" src="http://gravatar.com/avatar/bc75373d96f89523c87f373888c348eb.jpg" alt="Jason Nathan" style="height:2vh;display:inline-block">
       <span itemprop="name">Jason Nathan. </span> A
       <span itemprop="jobTitle">Freelance Developer & Designer</span> in
       <span itemscope itemtype="http://schema.org/PostalAddress">
          <span itemprop="addressCountry">Singapore</span>
       </span>
       </p>
    </section>
</section>
  <section id="emailTelephone">
    <!-- <a href="mailto:jjnathanjr+jasonnathan@gmail.com" target="_blank">jjnathanjr@gmail.com</a> -->
    <!-- <a href="tel:+6592320417" target="_blank">+65 92320417</a> -->
  </section>
</div>
</template>