<template name="contact">
       <div class="page" id="contact">
              <header class="topBanner">
                <div class="imgContainer">
                    <!-- <img src="/images/contact-header.svg" alt="Jason Nathan" /> -->
                    {{> contactSVG}}
                </div>
            </header>
<!--             <nav class="navContainer">
                <ul class="mainNav">
                    <li><a href="#" class="nav-home">HOME</a></li>
                    <li><a href="#" class="nav-contact active">CONTACT</a></li>
                    <li><a href="#" class="nav-portfolio">PORTFOLIO</a></li>
                </ul>
            </nav> -->
            <section class="contentArea">
            <aside class="sideBar leftBar">
       <section class="quarterWidget roleShowcase">
                        <div class="widget">
               <p><a href="tel:+6590220964" target="_blank"><i class="icon-phone" style="color: black"></i> +65 90220964</a></p>
                <p><a href="mailto:jjnathanjr+jasonnathan@gmail.com" target="_blank"><i class="icon-envelope" style="color: purple"></i> jjnathanjr@gmail.com</a></p>
                <p><a href="http://www.skype.com" target="_blank"><i class="icon-skype" style="color:#00adf2"></i> jason.nathan</a></p>
                        </div>
                    </section>
            </aside>
            <section class="mainContent">

            </section>
            <aside class="sideBar rightBar">
       <section class="quarterWidget roleShowcase">
<!--                         <div class="widget">
                <p><a href="http://www.facebook.com/jason_nathan" target="_blank"><i class="icon-facebook" style="color:#3c599b"></i> jason.nathan</a></p>
                <p><a href="http://www.twitter.com/jason.nathan" target="_blank"><i class="icon-twitter" style="color:#00abf0"></i> jason_nathan</a></p>
                <p><a href="http://stackoverflow.com/users/382536/jason-nathan" target="_blank"><i class="icon icon-stackexchange" style="color:#d38b28"></i> <img src="http://stackoverflow.com/users/flair/382536.png?theme=dark" width="208" height="58" alt="profile for Jason Nathan at Stack Overflow, Q&amp;A for professional and enthusiast programmers" title="profile for Jason Nathan at Stack Overflow, Q&amp;A for professional and enthusiast programmers"></a></p>
                        </div> -->
                    </section>
            </aside>
            </section>
        </div>
             {{> portfolio}}
</template>