<template name="home">
<div class="Pageitem" id="start">
  <section class="mainHeader">
    <img src="/images/Vectors/Jason.svg" onerror="this.src='/images/Vectors/Jason.png'" alt="Start here" id="jasonHeader">
    <!-- <h1 id="jasonHeader">Jason</h1> -->
    <!-- {{> jasonHeader}} -->
  </section>
  <section class="contentArea">
    <aside class="sideBar leftBar">
      <div class="widget">
        <div class="outside">
          <div class="inside">
            <div class="inner">
              <div class="outside">
                <div class="inside">
                  <section class="freelancerBar">
                    <header class="right">
                      <h2>Freelance</h2>
                    </header>
                  </section>
                  <header>
                    <ul class="interchanger">
                      <li><h1 class="interchange headerScript">WEB</h1></li>
                      <li><h1 class="interchange headerScript">MOBILE</h1></li>
                      <li><h1 class="interchange headerScript">APP</h1></li>
                    </ul>
                  </header>
                  <header>
                    <h3 class="sans headerDesignation">Developer</h3>
                  </header>
                  <header class="socialWidget">
                    <div class="fb-like" data-href="http://www.jasonnathan.com" data-layout="button" data-action="like" data-show-faces="false" data-share="false"></div>
                    <div class="g-plusone" data-size="medium" data-annotation="none"></div>
                  </header>
                </div>
              </div>
            </div>
          </div
        ></div>
      </div>
    </aside>
    <section class="mainContent" id="homeContentArea">
    &nbsp;
    </section>
    <aside class="sideBar rightBar">
      <div class="widget">
        <div class="outside">
          <div class="inside">
            <div class="inner">
              <div class="outside">
                <div class="inside">
                  <section class="freelancerBar">
                    <header class="left">
                      <h2>Freelance</h2>
                    </header>
                  </section>
                  <header>
                    <ul class="interchanger">
                      <li><h1 class="interchange headerScript">WEB</h1></li>
                      <li><h1 class="interchange headerScript">MOBILE</h1></li>
                      <li><h1 class="interchange headerScript">APP</h1></li>
                    </ul>
                  </header>
                  <header>
                    <h3 class="sans headerDesignation">Designer</h3>
                  </header>
                  <header class="socialWidget">
                    <!-- Place this tag where you want the +1 button to render. -->
                  </header>
                </div>
              </div>
            </div>
          </div
        ></div>
      </div>
    </aside>
    <section class="Person" itemscope itemtype="http://schema.org/Person">
       <p>
         <img itemprop="image" src="http://gravatar.com/avatar/bc75373d96f89523c87f373888c348eb.jpg" alt="Jason Nathan" style="">
         <span itemprop="name">Jason Nathan. </span> A
         <span itemprop="jobTitle">Freelance Developer & Designer</span> in
         <span itemscope itemtype="http://schema.org/PostalAddress">
            <span itemprop="addressCountry">Singapore</span>
         </span>
       </p>
    </section>
  </section>
  <!-- <section id="testimonials">
    <ul>
    </ul>
  </section> -->
</div>
</template>