<template name="home">
<div class="page" id="start">
<section class="mainHeader">
  <h1 id="startHeader">Jason</h1>
</section>
<section class="contentArea">
  <aside class="sideBar leftBar">
    <section class="halfWidget roleShowcase">
      <div class="widget">
        <section class="freelancerBar">
          <header class="right">
            <h2>Freelance</h2>
          </header>
        </section>
        <header>
          <ul class="interchanger">
            <li><h1 class="interchange headerScript">WEB</h1></li>
            <li><h1 class="interchange headerScript">MOBILE</h1></li>
            <li><h1 class="interchange headerScript">APP</h1></li>
          </ul>
        </header>
        <header>
          <h3 class="sans headerDesignation">Developer</h3>
        </header>
      </div>
    </section>
  </aside>
  <section class="mainContent" id="homeContentArea">
<!--       <div class="fb-like" data-layout="box_count" data-action="like" data-show-faces="false" data-share="true"></div>
Place this tag where you want the +1 button to render.
<div class="g-plusone" data-size="tall"></div> -->
  </section>
  <aside class="sideBar rightBar">
    <section class="halfWidget roleShowcase">
      <div class="widget">
      <section class="freelancerBar">
        <header class="left">
          <h2>Freelance</h2>
        </header>
      </section>
        <header>
          <ul class="interchanger">
            <li><h1 class="interchange headerScript">WEB</h1></li>
            <li><h1 class="interchange headerScript">MOBILE</h1></li>
            <li><h1 class="interchange headerScript">APP</h1></li>
          </ul>
        </header>
        <header>
          <h3 class="sans headerDesignation">Designer</h3>
        </header>
      </div>
    </section>
  </aside>
</section>
<!-- <section id="testimonials">
<ul>
</ul>
</section> -->
</div>
</template>