<template name="work">
<div class="page" id="work">
  <section class="mainHeader">
    <h1 id="workHeader">Works</h1>
  </section>
  <section class="contentArea" id="workContentArea">
    <div class="portfolioContainer">
      <section id="portfolioNav">
        <!--         <ul>
          <li> <a href="#"><i class="fa fa-globe"></i> Web</a> </li>
          <li> <a href="#"><i class="fa fa-mobile-phone"></i> Mobile</a> </li>
          <li> <a href="#"><i class="fa fa-desktop"></i> Apps</a> </li>
          <li> <a href="#"><i class="fa fa-language"></i> Misc</a> </li>
        </ul> -->
      </section>
      <section class="bottomConstrain">
        <div class="bb-item">
          <img class="effect7" src="/images/screenshots/PropBlast Inc. Automation for Real Estate Agents.png" alt="PropBlast Inc. Automation for Real Estate Agents" style="max-width:95%;margin:1rem auto 0 auto;">
          <div class="contentDescription" style="height:100%;padding:1rem;">
            <h3>Automation for Real Estate Agents</h3>
            <p>A technically challenging freelance e-commerce project that needed a <a href="en.wikipedia.org/wiki/Responsive_web_design" rel="nofollow" target="_blank">responsive design</a> so the app can be used on all devices.</p>
          </div>
        </div>
        <div class="bb-item">
          <img class="effect7" src="/images/screenshots/Jason Nathan-2014 Freelance Web Developer Open Source Enthusiast Singapore.png" alt="Jason Nathan-2014 Freelance Web Developer Open Source Enthusiast Singapore">
        </div>
        <div class="bb-item">
          <!-- ... -->
        </div>
        <div class="bb-item">
          <!-- ... -->
        </div>
        <!-- ... -->
        <!--         <div class="flexBox">
          <div class="scrollBox">
            <img class="effect7" src="/images/screenshots/PropBlast Inc. Automation for Real Estate Agents.png" alt="PropBlast Inc. Automation for Real Estate Agents">
          </div>
        </div>
        <div class="flexBox">
          <div class="scrollBox">
            <img class="effect7" src="/images/screenshots/Jason Nathan-2014 Freelance Web Developer Open Source Enthusiast Singapore.png" alt="Jason Nathan-2014 Freelance Web Developer Open Source Enthusiast Singapore">
          </div>
        </div>
        <div class="flexBox">
          <div class="scrollBox">
            <img class="effect7" src="/images/screenshots/Jason Nathan - Developer-Designer-Administrator.png" alt="Jason Nathan - Developer-Designer-Administrator">
          </div>
        </div>
        <div class="flexBox">
          <div class="scrollBox">
            <img class="effect7" src="/images/screenshots/Realtasia Singapore Social Networking for Real Estate Agents.png" alt="Realtasia Singapore Social Networking for Real Estate Agents">
          </div>
        </div>
        <div class="flexBox">
          <div class="scrollBox">
            <img class="effect7" src="/images/screenshots/RealtAsia-Realtime Real Estate.png" alt="RealtAsia-Realtime Real Estate.png">
          </div>
        </div>
        <div class="flexBox">
          <div class="scrollBox">
            <img class="effect7" src="/images/screenshots/PropBlast Inc. Automation for Real Estate Agents.png" alt="PropBlast Inc. Automation for Real Estate Agents">
          </div>
        </div> -->
      </section>
    </div>
  </section>
</div>
</template>