<template name="work">
<div class="Pageitem" id="work">
  <section class="mainHeader">
    <h1 id="workHeader">Works</h1>
  </section>
  <section class="contentArea" id="workContentArea">
    <div class="portfolioContainer">
      <section id="portfolioNav">
        <!--         <ul>
          <li> <a href="#"><i class="fa fa-globe"></i> Web</a> </li>
          <li> <a href="#"><i class="fa fa-mobile-phone"></i> Mobile</a> </li>
          <li> <a href="#"><i class="fa fa-desktop"></i> Apps</a> </li>
          <li> <a href="#"><i class="fa fa-language"></i> Misc</a> </li>
        </ul> -->
      </section>
      <section class="bottomConstrain">
        <div class="reveal">
          <div class="slides">
            <section>
              <h2>Automation for Real Estate Agents</h2>
              <div class="slideContent">
                <p >A technically challenging freelance e-commerce project that needed a <a href="http://en.wikipedia.org/wiki/Responsive_web_design" target="_blank">responsive design</a> so the app can be used on all devices. Built with meteorJS &amp; NodeJS. This project features JavaScript as a single development language.</p>
              </div>
              <div class="slideImageHolder">
                <a href="/images/screenshots/PropBlast Inc. Automation for Real Estate Agents.png" target="_blank">
                  <img class="effect7" src="/images/screenshots/PropBlast Inc. Automation for Real Estate Agents.png" alt="PropBlast Inc. Automation for Real Estate Agents">
                </a>
              </div>
            </section>
            <section>
              <h2>3D portfolio</h2><br>
              <div class="slideContent">
                <p>In 2014, jasonnathan.com was a full HTML5 3D presentation that featured the best of CSS3's hardware acceleration.</p>
              </div>
              <div class="slideImageHolder">
                <a href="/images/screenshots/Jason Nathan-2014 Freelance Web Developer Open Source Enthusiast Singapore.png" target="_blank">
                  <img class="effect7" src="/images/screenshots/Jason Nathan-2014 Freelance Web Developer Open Source Enthusiast Singapore.png" alt="Jason Nathan-2014 Freelance Web Developer Open Source Enthusiast Singapore">
                </a>
              </div>
            </section>
            <section>
              <h2>Social Network for Singapore Real Estate</h2>
              <div class="slideContent">
                <p>Featured powerful sharing &amp; collaboration. Web Design includes automatic resizing to fit device width. Written from scratch in PHP using the <a href="http://en.wikipedia.org/wiki/Kohana_(framework)" target="_blank">KohanaPHP</a> framework. Over 200k source lines of code!</p>
              </div>
              <div class="slideImageHolder">
                <a href="/images/screenshots/Realtasia Singapore Social Networking for Real Estate Agents.png" target="_blank">
                  <img class="effect7" src="/images/screenshots/Realtasia Singapore Social Networking for Real Estate Agents.png" alt="Realtasia Singapore Social Networking for Real Estate Agents">
                </a>
              </div>
            </section>
            <section>
              <h2>Portfolio Site for Software House</h2>
              <div class="slideContent">
                <p>More 3D animations, content that revealed itself as a user scrolls. A custom WordPress theme with a simplistic but captivating design.</p>
              </div>
              <div class="slideImageHolder">
                <a href="/images/screenshots/RealtAsia-Realtime Real Estate.png" target="_blank">
                  <img class="effect7" src="/images/screenshots/RealtAsia-Realtime Real Estate.png" alt="Realtasia Singapore Social Networking for Real Estate Agents">
                </a>
              </div>
            </section>
          </div>
        </div>
      </section>
    </div>
  </section>
</div>
</template>