<template name="work">
<div class="page" id="work">
<section class="mainHeader">
  <h1 id="workHeader">Works</h1>
</section>
<section class="bottomConstrain">
  <section class="contentArea">
    <div class="flexBox"></div>
    <div class="flexBox"></div>
    <div class="flexBox"></div>
  </section>
  <section class="contentArea">
    <div class="flexBox"></div>
    <div class="flexBox"></div>
    <div class="flexBox"></div>
  </section>
  <section class="contentArea">
    <div class="flexBox"></div>
    <div class="flexBox"></div>
    <div class="flexBox"></div>
  </section>
</section>
</div>
</template>