<template name="text">
            <header class="header">
                <div class="box">
                    <img src="/images/jason-header.svg" alt="Jason Nathan">
                </div>
            </header>
        <ul class="main-nav">
            <li><a href="#" class="txt">HOME</a></li>
            <li><a href="#" class="txt">PORTFOLIO</a></li>
            <li><a href="#" class="txt">CONTACT</a></li>
            <li><a href="#" class="txt">ARTICLES</a></li>
        </ul>
            <!-- END TOP HEADER -->
            <div class="main-content">
                <aside class="box leftbar">
                    <header class="backdrop">
                        <h2 class="txt">FREELANCE</h2>
                    </header>
                    <header>
                        <ul class="interchanger">
                            <li><h1 class="interchange headerScript txt">WEB</h1></li>
                            <li><h1 class="interchange headerScript txt">MOBILE</h1></li>
                            <li><h1 class="interchange headerScriptv txt">APP</h1></li>
                        </ul>
                    </header>
                    <header>
                        <h3 class="sans txt">DEVELOPER</h3>
                    </header>
                    <p class="left-testimonial txt">I need something <strong class="txt">exciting</strong> to showcase my products & services...</p>
                </aside>
                <!-- END LEFTBAR -->
                <section class="wide-box">
                    <header>
                        <h3 class="headerScript txt">Server Administrator</h3>
                    </header>
                </section>
                <!-- END CENTER CONTENT -->
                <aside class="box rightbar">
                    <header class="backdrop">
                        <h2 class="txt">FREELANCE</h2>
                    </header>
                    <header>
                        <ul class="interchanger">
                            <li><h1 class="interchange headerScript txt">WEB</h1></li>
                            <li><h1 class="interchange headerScript txt">MOBILE</h1></li>
                            <li><h1 class="interchange headerScript txt">APP</h1></li>
                        </ul>
                    </header>
                    <header>
                        <h3 class="sans txt">DESIGNER</h3>
                    </header>
                    <p class="right-testimonial script txt">I'm <strong class="txt">bored</strong> with basic website templates...</p>

                </aside>
                <!-- END RIGHTBAR -->
            </div>
            <!-- END MAIN CONTENT         -->
</template>