<template name="vcard">
    <section class="Person" itemscope itemtype="http://data-vocabulary.org/Person">
       <p>
         <img itemprop="photo" src="http://gravatar.com/avatar/bc75373d96f89523c87f373888c348eb.jpg" alt="Jason Nathan" style="">
         <div class="item-row">
           <span itemprop="name">Jason Nathan. </span> A
           <span itemprop="title">Freelance Web Developer & Designer</span> in
           <span itemprop="http://data-vocabulary.org/Address">
              <!-- <span style="display:none" itemprop="country-name">Singapore</span> -->
              <span itemprop="locality"> Singapore City</span>
           </span>
         </div>
       </p>
    </section>
</template>