<template name="works">
<div class="Pageitem" id="work">
  <section class="mainHeader">
  <img src="/images/Vectors/Works.svg" onerror="this.source='/images/Vectors/Works.png'" alt="My Portfolio" id="worksHeader">
    <!-- <h1 id="worksHeader">Works</h1> -->
  </section>
  <section class="contentArea" id="workContentArea">
    <div class="portfolioContainer">
      <section id="portfolioNav">
        <!--         <ul>
          <li> <a href="#"><i class="fa fa-globe"></i> Web</a> </li>
          <li> <a href="#"><i class="fa fa-mobile-phone"></i> Mobile</a> </li>
          <li> <a href="#"><i class="fa fa-desktop"></i> Apps</a> </li>
          <li> <a href="#"><i class="fa fa-language"></i> Misc</a> </li>
        </ul> -->
      </section>
      <section class="bottomConstrain">
        <div class="reveal">
          <div class="slides">
            <section>
              <h2>Automation for Real Estate Agents</h2>
              <div class="slideContent">
                <p >A technically challenging freelance e-commerce project that needed a <a href="http://en.wikipedia.org/wiki/Responsive_web_design" target="_blank">responsive design</a> so the app can be used on all devices. Built with <a href="https://www.meteor.com/" target="_blank" rel="nofollow">meteorJS</a> &amp; <a href="en.wikipedia.org/wiki/Node.js" target="_blank" rel="nofollow">NodeJS</a>. This project features <a href="http://en.wikipedia.org/wiki/JavaScript" target="_blank" rel="nofollow"> JavaScript</a> as a single development language.</p>
              </div>
              <div class="slideImageHolder">
                <a href="/images/screenshots/propblast-inc-automation-for-real-estate-agents.png" target="_blank">
                  <img class="effect7" src="/images/screenshots/propblast-inc-automation-for-real-estate-agents.png" alt="PropBlast Inc. Automation for Real Estate Agents">
                </a>
              </div>
            </section>
            <section>
              <h2>3D freelancer portfolio</h2><br>
              <div class="slideContent">
                <p>In 2014, jasonnathan.com was a full <a href="en.wikipedia.org/wiki/HTML5" target="_blank" rel="nofollow">HTML5</a> 3D presentation that featured the best of <a href="www.css3.info" target="_blank" rel="nofollow">CSS3</a>'s hardware acceleration.</p>
              </div>
              <div class="slideImageHolder">
                <a href="http://jasonnathan.github.io/2014" rel="nofollow" target="_blank">
                  <img class="effect7" src="/images/screenshots/jason-nathan-2014-freelance-web-developer-open-source-enthusiast-singapore.png" alt="Jason Nathan-2014 Freelance Web Developer Open Source Enthusiast Singapore">
                </a>
              </div>
            </section>
            <section>
              <h2>Social Network for Singapore Real Estate</h2>
              <div class="slideContent">
                <p>Featured powerful sharing &amp; collaboration. Web Design includes automatic resizing to fit device width. Written from scratch in <a href="en.wikipedia.org/wiki/PHP" target="_blank" rel="nofollow">PHP</a> using the <a href="http://en.wikipedia.org/wiki/Kohana_(framework)"  target="_blank" rel="nofollow">KohanaPHP</a> framework. Over 200k source lines of code!</p>
              </div>
              <div class="slideImageHolder">
                <a href="/images/screenshots/realtasia-singapore-social-networking-for-real-estate-agents.png" target="_blank">
                  <img class="effect7" src="/images/screenshots/realtasia-singapore-social-networking-for-real-estate-agents.png" alt="Realtasia Singapore Social Networking for Real Estate Agents">
                </a>
              </div>
            </section>
            <section>
              <h2>Portfolio Site for Singaporean Software House</h2>
              <div class="slideContent">
                <p>More 3D animations, content that revealed itself as a user scrolls. A custom <a href="https://wordpress.org" target="_blank" rel="nofollow">WordPress</a> <a href="https://wordpress.org/themes/" target="_blank" rel="nofollow">theme</a> with a simplistic but captivating design for a software house focused on Real Estate Software.</p>
              </div>
              <div class="slideImageHolder">
                <a href="http://www.realtasia.com" rel="nofollow" target="_blank">
                  <img class="effect7" src="/images/screenshots/realtasia-realtime-real-estate.png" alt="A portfolio site designed for a local company.">
                </a>
              </div>
            </section>
            <section>
              <h2>My online resume</h2>
              <div class="slideContent">
                <p>I decided that an online resume would be far more relevant than a pdf document (or on printed paper). Here's my animated, interactive resume online</p>
              </div>
              <div class="slideImageHolder">
                <a href="http://resume.jasonnathan.com" rel="nofollow" target="_blank">
                  <img class="effect7" src="/images/screenshots/jason-nathan-developer-designer-administrator.png" alt="Jason Nathan's Online Resume">
                </a>
              </div>
            </section>
          </div>
        </div>
      </section>
    </div>
  </section>
</div>
</template>